* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/game/background.gif');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100%;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 20px 0;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
    
header a {
    margin: 0;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: #369381;
    letter-spacing: 2px;
    text-decoration: none;
}

/* Responsive header adjustments */
@media (max-width: 768px) {
    header a {
       font-size: 1.5rem;
    }
}
